<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Localização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Localização</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <h5><b>Coordenadas</b></h5>
    <h6>Latitude: {{ latitude }}</h6>
    <h6>Longitude: {{ longitude }}</h6>
  </div>
</ion-content>
